editor=nvim
init-author-name=Max Wihlborg
init-author-email=max.wihlborg@barnebys.com
init-version=1.0.0
init-license=MIT
shrinkwrap=false
//registry.npmjs.org/:_authToken=143c88f0-b558-453b-ad06-2bd0330f89da
