;;;;
; npm userconfig file
; this is a simple ini-formatted file
; lines that start with semi-colons are comments.
; read `npm help config` for help on the various options
;;;;

cache=/Users/maxwih/.local/share/npm
editor=nvim
init-author-name=Max Wihlborg
init-author-email=max.wihlborg@gmail.com
init-version=1.0.0
init-license=MIT
shrinkwrap=false
